@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    height: 70px;
    background: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

nav .logo {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all ease 0.5s;
}

#check {
    display: none;
}

nav ul li a:hover,
nav ul li a.active{
    background: #fff;
    color: #1b1b1b;
}

nav .manu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

nav ul li {
    margin-left: 10px;
}

@media (max-width: 940px) {
    nav ul {
        position: fixed;
        margin: 0;
        top: 70px;
        left: -100%;
        background: rgba(17, 17, 17, 0.507);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all ease .5s;
    }
    #check:checked ~ ul {
        left: 0%;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active{
    background: none;
    color: cyan;
    }
    nav .manu-btn i {
        display: block;
    }
    #check:checked ~ .manu-btn i:before {
        content: "\f00d";
    }

}